.services {
  background: var(--mainGrey);
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
}
.service {
  margin: 2rem 0;
  text-align: center;
}

.service .circleIcon {
  width: 80px;
  height: 80px;
  border: 2px solid var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0 auto 20px;
  border-radius: 50%;
  transition: var(--mainTransition);
}

.service:hover .circleIcon {
  background-color: var(--primaryColor);
  color: #fff;
}

.service h4 {
  text-transform: uppercase;
}
